<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <body>
        <h1>WELCOME TO ADMIN PANEL</h1>
        <a th:href="@{'/'}">GO HOME</a>
        <div sec:authorize="isAuthenticated()">
            <a th:href="@{'/profile'}"
               th:text="${#authentication.principal.firstname + ' ' + #authentication.principal.lastname}"></a>
        </div>
        <form th:action="@{'/exit'}" method="post">
            <button>SIGN OUT</button>
        </form>
    </body>
</html>