<!--<!DOCTYPE html>-->
<!--<div id="g_id_onload"-->
<!--     data-client_id="335247748424-3dai46fj6e07cpnvbsbvaai08rtbvr9e.apps.googleusercontent.com"-->
<!--     data-context="signin"-->
<!--     data-ux_mode="popup"-->
<!--     data-login_uri="http://localhost:8000/signin"-->
<!--     data-auto_prompt="false">-->
<!--</div>-->
<!--<div class="g_id_signin"-->
<!--     data-type="standard"-->
<!--     data-shape="rectangular"-->
<!--     data-theme="outline"-->
<!--     data-text="signin_with"-->
<!--     data-size="large"-->
<!--     data-locale="en"-->
<!--     data-logo_alignment="left">-->
<!--</div>-->

<!--<html>-->
<!--<body>-->
<!--<script async defer src="https://accounts.google.com/gsi/client" data-csp="trusted-types"></script>-->
<!--<div data-callback="handleCredentialResponse"-->
<!--     data-client_id="335247748424-3dai46fj6e07cpnvbsbvaai08rtbvr9e.apps.googleusercontent.com"-->
<!--     id="g_id_onload">-->
<!--</div>-->
<!--<div class="g_id_signin" data-type="standard"></div>-->
<!--</body>-->
<!--<script>-->
<!--    function handleCredentialResponse(response) {-->
<!--        const credential = response.credential;-->

<!--        // Print the credential information-->
<!--        console.log('Credential information:');-->
<!--        console.log(`ID Token: ${credential.idToken}`);-->
<!--        console.log(`Access Token: ${credential.accessToken}`);-->

<!--        // Use the credential information to authenticate the user-->
<!--        // For example, send the ID Token to your server for verification and create a session-->
<!--        // with the authenticated user.-->
<!--        // ...-->
<!--    }-->
<!--</script>-->
<!--</html>-->


<!--<html>-->
<!--<body>-->
<!--<script src="https://accounts.google.com/gsi/client" async defer data-csp="trusted-types"></script>-->
<!--<div id="g_id_onload"-->
<!--     data-client_id="335247748424-3dai46fj6e07cpnvbsbvaai08rtbvr9e.apps.googleusercontent.com"-->
<!--     data-ux_mode="redirect"-->
<!--     data-login_uri="http://localhost:8000/profile">-->
<!--</div>-->
<!--<div class="g_id_signin" data-type="standard"></div>-->
<!--</body>-->
<!--</html>-->

<!--<html>-->
<!--<body>-->
<!--<script async defer src="https://accounts.google.com/gsi/client" data-csp="trusted-types"></script>-->
<!--<div data-callback="handleCredentialResponse"-->
<!--     data-client_id="335247748424-3dai46fj6e07cpnvbsbvaai08rtbvr9e.apps.googleusercontent.com"-->
<!--     id="g_id_onload">-->
<!--</div>-->
<!--<div class="g_id_signin" data-type="standard"></div>-->
<!--</body>-->
<!--<script>-->
<!--    function handleCredentialResponse(response) {-->
<!--        const credential = response.credential;-->

<!--        // Print the credential information-->
<!--        console.log('Credential information:');-->
<!--        console.log(`ID Token: ${credential.idToken}`);-->
<!--        console.log(`Access Token: ${credential.accessToken}`);-->

<!--        // Use the credential information to authenticate the user-->
<!--        // For example, send the ID Token to your server for verification and create a session-->
<!--        // with the authenticated user.-->
<!--        // ...-->
<!--    }-->
<!--</script>-->
<!--</html>-->


<!--<html>-->
<!--<head>-->
<!--    <meta name="google-signin-client_id" content="335247748424-3dai46fj6e07cpnvbsbvaai08rtbvr9e.apps.googleusercontent.com">-->
<!--    <script src="https://apis.google.com/js/platform.js" async defer></script>-->
<!--</head>-->
<!--<body>-->
<!--<div class="g-signin2" data-onsuccess="onSignIn"></div>-->
<!--<script>-->
<!--    function onSignIn(googleUser) {-->
<!--        // Get user information-->
<!--        var profile = googleUser.getBasicProfile();-->
<!--        var name = profile.getName();-->
<!--        var email = profile.getEmail();-->
<!--        var imageUrl = profile.getImageUrl();-->

<!--    }-->
<!--</script>-->
<!--</body>-->
<!--</html>-->


<!--<html>-->
<!--<body>-->
<!--<script src="https://accounts.google.com/gsi/client" async defer></script>-->
<!--<div id="g_id_onload"-->
<!--     data-client_id="335247748424-tbvosbturubufvudma4d8s80g5csar7n.apps.googleusercontent.com"-->
<!--     data-ux_mode="redirect"-->
<!--     data-login_uri="http://localhost:8000/login/oauth2/code">-->
<!--</div>-->
<!--<div class="g_id_signin" data-type="standard"></div>-->
<!--</body>-->
<!--</html>-->

<!--<html>-->
<!--<head>-->
<!--    <meta name="google-signin-client_id" content="335247748424-tbvosbturubufvudma4d8s80g5csar7n.apps.googleusercontent.com">-->
<!--    <script src="https://apis.google.com/js/platform.js" async defer></script>-->
<!--</head>-->
<!--<body>-->
<!--<div class="g-signin2" data-onsuccess="onSignIn"></div>-->
<!--<script>-->
<!--    function onSignIn(googleUser) {-->
<!--        // Get user information-->
<!--        var profile = googleUser.getBasicProfile();-->
<!--        var name = profile.getName();-->
<!--        var email = profile.getEmail();-->
<!--        var imageUrl = profile.getImageUrl();-->

<!--    }-->
<!--</script>-->
<!--</body>-->
<!--</html>-->

<!--<html>-->
<!--<body>-->
<!--<script src="https://accounts.google.com/gsi/client" async defer></script>-->
<!--<div id="g_id_onload"-->
<!--     data-client_id="335247748424-tbvosbturubufvudma4d8s80g5csar7n.apps.googleusercontent.com"-->
<!--     data-ux_mode="redirect"-->
<!--     data-login_uri="http://localhost:8000/profile">-->
<!--</div>-->
<!--<div class="g_id_signin" data-type="standard"></div>-->
<!--</body>-->
<!--</html>-->

<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Google Sign-In Form</title>-->
<!--    <meta name="google-signin-client_id" content="335247748424-tbvosbturubufvudma4d8s80g5csar7n.apps.googleusercontent.com">-->
<!--    <script src="https://apis.google.com/js/platform.js" async defer></script>-->
<!--    <script>-->
<!--        function onSignIn(googleUser) {-->
<!--            // Handle the Google user object or token as needed-->
<!--            var id_token = googleUser.getAuthResponse().id_token;-->
<!--            console.log(id_token);-->
<!--            // ...-->
<!--        }-->
<!--    </script>-->
<!--</head>-->
<!--<body>-->
<!--<form id="signin-form" method="POST">-->
<!--    <div class="form-group">-->
<!--        <label for="inputEmail">Email address</label>-->
<!--        <input type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="Enter email" required autofocus>-->
<!--    </div>-->
<!--    <div class="g-signin2" data-onsuccess="onSignIn"></div>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->