<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:layout ="http://www.ultraq.net.nz/thymeleaf/layout"
            layout:decorate="layout/main.html">

<div layout:fragment="mainContent">
    <!-- Title Two Tables -->
    <div class="row">
        <div class="col-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th class="col-6" style="color: red;">EXPENSES</th>
                    <th class="col-6" style="color: darkblue;">INCOMES</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="row">
        <!-- List of Expenses -->
        <div class="col-6">
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>EXPENSE</th>
                    <th>DESCRIPTION</th>
                    <th style="text-align: center;">SUM VALUE</th>
                    <th style="text-align: center; width: 10%;">DETAILS</th>
                </tr>
                </thead>
                <tbody id="tbodyExpensesList">
                    <!--htmlCode-->
                </tbody>
            </table>
            <!-- expenseDetailsModal -->
            <div class="modal fade" id="expenseDetailsModal" data-bs-backdrop="static" data-bs-keyboard="true"
                 tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5">All Checks of the selected Expense</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row d-flex flex-row">
                                <div class="row">
                                    <div class="col-12">
                                        <table class="table table-striped" id="tableExpenseChecksList">
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CLOSE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- List of Incomes -->
        <div class="col-6">
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>INCOME</th>
                    <th>DESCRIPTION</th>
                    <th style="text-align: center;">SUM VALUE</th>
                    <th style="text-align: center; width: 10%;">DETAILS</th>
                </tr>
                </thead>
                <tbody id="tbodyIncomesList">
                    <!--htmlCode-->
                </tbody>
            </table>
            <!-- incomeDetailsModal -->
            <div class="modal fade" id="incomeDetailsModal" data-bs-backdrop="static" data-bs-keyboard="true"
                 tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5">All Checks of the selected Income</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row d-flex flex-row">
                                <div class="row">
                                    <div class="col-12">
                                        <table class="table table-striped" id="tableIncomeChecksList">
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CLOSE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Title Tables -->
    <div class="row">
        <div class="col-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th class="col-12" style="color: darkgreen;">CHECKS</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <!-- Buttons Add Check Expense & Add Check Income -->
    <div class="row">
        <div class="col-12 my-2">
            <button type="button" class="button_style_add" onclick="openCheckAddModal('expense')"
                    th:text="${'+Add Check Expense'}" style="color: red;">
            </button>
            <button type="button" class="button_style_add" onclick="openCheckAddModal('income')"
                    th:text="${'+Add Check Income'}" style="color: darkblue;">
            </button>
        </div>
    </div>
    <!-- List of Checks -->
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th style="text-align: center;">VALUE</th>
                    <th style="text-align: center;">DATE</th>
                    <th>NOTE</th>
                    <th style="text-align: center; width: 10%;">DETAILS</th>
                </tr>
                </thead>
                <tbody id="tbodyChecksList">
                    <!--htmlCode-->
                </tbody>
            </table>
            <!-- checkDetailsModal -->
            <div class="modal fade" id="checkDetailsModal" data-bs-backdrop="static" data-bs-keyboard="true"
                 tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form>
                            <div class="modal-header" id="divTitleModal">
                                <!--htmlCode-->
                            </div>
                            <div class="modal-body">
                                <input type="hidden" id="editCheckId">
                                <div class="row">
                                    <div class="col-12">
                                        <div id="divTitleType">
                                            <!--htmlCode-->
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-12">
                                        <div>
                                            <select class="form-select" id="editCheckType" required>
                                                <!--htmlCode-->
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-12">
                                        <div>
                                            <label class="fw-bold" th:text="VALUE"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-12">
                                        <div>
                                            <input type="number" class="form-control" id="editCheckValue"
                                                   required min="0.0" step="0.01">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-12">
                                        <div>
                                            <label class="fw-bold" th:text="DATE"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-12">
                                        <div>
                                            <input type="date" class="form-control" id="editCheckDate" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-12">
                                        <div>
                                            <label class="fw-bold" th:text="NOTE"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-12">
                                        <div>
                                            <input type="text" class="form-control" id="editCheckNote">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer" id="divActionButtons">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        // Block global variable
        var expensesList;
        var incomesList;
        var modalChecks = new bootstrap.Modal(document.getElementById('checkDetailsModal'));

        loadAllContent();

        function loadAllContent() {
            loadIncomesContent();
            loadExpensesContent();
            loadChecksContent();
        }

        function loadIncomesContent() {
            const xhttp = new XMLHttpRequest();
            xhttp.onload = function(){
                if (this.status === 200) {
                    const result = this.responseText;
                    incomesList = JSON.parse(result);
                    var htmlCode = "";
                    var totalSum = 0;
                    for (i = 0; i < incomesList.length; i++) {
                        htmlCode += "<tr>";
                        htmlCode += "<td>" + incomesList[i]["id"] + "</td>";
                        htmlCode += "<td>" + incomesList[i]["income"] + "</td>";
                        htmlCode += "<td>" + incomesList[i]["description"] + "</td>";
                        htmlCode += "<td style='text-align: center;'>" + incomesList[i]["sumValue"] + "</td>";
                        htmlCode += "<td style='text-align: center;'>" +
                                    "<a href='JavaScript:void(0)' class='btn btn-primary btn-sm' " +
                                    "onclick='openIncomeDetailsModal(" + incomesList[i].id + ")'>Details</a>" + "</td>";
                        htmlCode += "</tr>";
                        totalSum += incomesList[i]["sumValue"];
                    }
                    htmlCode += "<tr>";
                    htmlCode += "<td colspan='4' style='font-weight: bold; text-align: right;'>" + "Total: " + totalSum + "</td>";
                    htmlCode += "</tr>";
                }
                //filling tbodyIncomesList
                tbodyIncomesList.innerHTML = htmlCode;
            }
            xhttp.open("GET","/budget");
            xhttp.send();
        }

        function loadExpensesContent() {
            const xhttp = new XMLHttpRequest();
            xhttp.onload = function(){
                if (this.status === 200) {
                    const result = this.responseText;
                    expensesList = JSON.parse(result);
                    var htmlCode = "";
                    var totalSum = 0;
                    for (i = 0; i < expensesList.length; i++) {
                        htmlCode += "<tr>";
                        htmlCode += "<td>" + expensesList[i]["id"] + "</td>";
                        htmlCode += "<td>" + expensesList[i]["expense"] + "</td>";
                        htmlCode += "<td>" + expensesList[i]["description"] + "</td>";
                        htmlCode += "<td style='text-align: center;'>" + expensesList[i]["sumValue"] + "</td>";
                        htmlCode += "<td style='text-align: center;'>" +
                                    "<a href='JavaScript:void(0)' class='btn btn-primary btn-sm' " +
                                    "onclick='openExpenseDetailsModal(" + expensesList[i].id + ")'>Details</a>" + "</td>";
                        htmlCode += "</tr>";
                        totalSum += expensesList[i]["sumValue"];
                    }
                    htmlCode += "<tr>";
                    htmlCode += "<td colspan='4' style='font-weight: bold; text-align: right;'>" + "Total: " + totalSum + "</td>";
                    htmlCode += "</tr>";
                }
                //filling tbodyExpensesList
                tbodyExpensesList.innerHTML = htmlCode;
            }
            xhttp.open("GET","/purchases");
            xhttp.send();
        }

        function loadChecksContent() {
            const xhttp = new XMLHttpRequest();
            xhttp.onload = function(){
                if (this.status === 200) {
                    const result = this.responseText;
                    var checksList = JSON.parse(result);
                    // console.log(checksList);
                    var htmlCode = "";
                    var totalSum = 0;
                    for (i = 0; i < checksList.length; i++) {
                        htmlCode += "<tr>";
                        htmlCode += "<td>" + checksList[i]["id"] + "</td>";
                        htmlCode += "<td style='text-align: center;'>" + (checksList[i]["budget"] === null ? "-" : "+") +
                                     checksList[i]["value"] + "</td>";
                        htmlCode += "<td style='text-align: center;'>" + checksList[i]["date"] + "</td>";
                        htmlCode += "<td>" + checksList[i]["note"] + "</td>";
                        htmlCode += "<td style='text-align: center;'>" +
                                    "<a href='JavaScript:void(0)' class='btn btn-primary btn-sm' " +
                                    "onclick='openCheckDetailsModal(" + checksList[i].id + ")'>Details</a>" + "</td>";
                        htmlCode += "</tr>";
                        if (checksList[i]["budget"] === null) {
                            totalSum -= checksList[i]["value"];
                        } else {
                            totalSum += checksList[i]["value"];
                        }
                    }
                    htmlCode += "<tr>";
                    htmlCode += "<td colspan='5' style='font-weight: bold; text-align: right;'>" + "The rest of money: " +
                                 totalSum + "</td>";
                    htmlCode += "</tr>";
                }
                //filling tbodyChecksList
                tbodyChecksList.innerHTML = htmlCode;
            }
            xhttp.open("GET","/checks");
            xhttp.send();
        }

        function openIncomeDetailsModal(id){
            const xhttp = new XMLHttpRequest();
            var modalIncomes = new bootstrap.Modal(document.getElementById('incomeDetailsModal'));
            xhttp.onload = function(){
                if (this.status === 200) {
                    const result = this.responseText;
                    var checksList = JSON.parse(result);
                    // console.log(checksList);
                    var htmlCode = "";
                    var countRec = 0;
                    htmlCode += "<thead class='mt-2'>";
                    htmlCode += "<tr>";
                    htmlCode += "<th style='width: 5%;'>ID</th>";
                    htmlCode += "<th style='text-align: center; width: 10%;'>VALUE</th>";
                    htmlCode += "<th style='text-align: center; width: 20%;'>DATE</th>";
                    htmlCode += "<th style='width: 65%;'>NOTE</th>";
                    htmlCode += "</tr>";
                    htmlCode += "</thead>"
                    htmlCode += "<tbody>"
                    for (i = 0; i < checksList.length; i++) {
                        htmlCode += "<tr>";
                        htmlCode += "<td>" + checksList[i]["id"] + "</td>";
                        htmlCode += "<td style='text-align: center;'>" + checksList[i]["value"] + "</td>";
                        htmlCode += "<td style='text-align: center;'>" + checksList[i]["date"] + "</td>";
                        htmlCode += "<td>" + checksList[i]["note"] + "</td>";
                        htmlCode += "</tr>";
                        countRec++;
                    }
                    htmlCode += "</tbody>";
                }
                //filling tableIncomeChecksList
                if (countRec > 0) {
                    tableIncomeChecksList.innerHTML = htmlCode;
                } else {
                    tableIncomeChecksList.innerHTML = "";
                }
            }
            xhttp.open("GET","/checks/budget/" + id);
            xhttp.send();
            modalIncomes.show();
        }

        function openExpenseDetailsModal(id){
            const xhttp = new XMLHttpRequest();
            var modalExpenses = new bootstrap.Modal(document.getElementById('expenseDetailsModal'));
            xhttp.onload = function(){
                if (this.status === 200) {
                    const result = this.responseText;
                    var checksList = JSON.parse(result);
                    // console.log(checksList);
                    var htmlCode = "";
                    var countRec = 0;
                    htmlCode += "<thead class='mt-2'>";
                    htmlCode += "<tr>";
                    htmlCode += "<th style='width: 5%;'>ID</th>";
                    htmlCode += "<th style='text-align: center; width: 10%;'>VALUE</th>";
                    htmlCode += "<th style='text-align: center; width: 20%;'>DATE</th>";
                    htmlCode += "<th style='width: 65%;'>NOTE</th>";
                    htmlCode += "</tr>";
                    htmlCode += "</thead>"
                    htmlCode += "<tbody>"
                    for (i = 0; i < checksList.length; i++) {
                        htmlCode += "<tr>";
                        htmlCode += "<td>" + checksList[i]["id"] + "</td>";
                        htmlCode += "<td style='text-align: center;'>" + checksList[i]["value"] + "</td>";
                        htmlCode += "<td style='text-align: center;'>" + checksList[i]["date"] + "</td>";
                        htmlCode += "<td>" + checksList[i]["note"] + "</td>";
                        htmlCode += "</tr>";
                        countRec++;
                    }
                    htmlCode += "</tbody>";
                }
                //filling tableExpenseChecksList
                if (countRec > 0) {
                    tableExpenseChecksList.innerHTML = htmlCode;
                } else {
                    tableExpenseChecksList.innerHTML = "";
                }
            }
            xhttp.open("GET","/checks/purchase/" + id);
            xhttp.send();
            modalExpenses.show();
        }

        function openCheckDetailsModal(id){
            const request = new XMLHttpRequest();
            request.onload = (e) => {
                let result = JSON.parse(request.responseText);
                // console.log(result);
                var htmlCode = "";
                var receipt = "";
                editCheckId.value = result.id;
                editCheckValue.value = result.value;
                editCheckDate.value = result.date;
                editCheckNote.value = result.note;
                htmlCode += "<h1 class='modal-title fs-5'>Check Modal Details</h1>"
                htmlCode += "<button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>";
                divTitleModal.innerHTML = htmlCode;
                htmlCode = "";
                if (result.budget !== null) {
                    receipt = "income";
                    divTitleType.innerHTML = "<label class='fw-bold'>INCOME</label>";
                    for (i = 0; i < incomesList.length; i++) {
                        htmlCode += "<option value =" + incomesList[i]["id"];
                        htmlCode += (incomesList[i]["id"] === result.budget.id ? " selected" : "")  + ">";
                        htmlCode += incomesList[i]["income"] + "</option>";
                    }
                    //filling editCheckType
                    editCheckType.innerHTML = htmlCode;
                } else if (result.purchase !== null) {
                    receipt = "expense";
                    divTitleType.innerHTML = "<label class='fw-bold'>EXPENSE</label>";
                    for (i = 0; i < expensesList.length; i++) {
                        htmlCode += "<option value =" + expensesList[i]["id"];
                        htmlCode += (expensesList[i]["id"] === result.purchase.id ? " selected" : "")  + ">";
                        htmlCode += expensesList[i]["expense"] + "</option>";
                    }
                    //filling editCheckType
                    editCheckType.innerHTML = htmlCode;
                }
                htmlCode = "";
                htmlCode += "<button type='button' class='btn btn-danger me-auto' onClick='deleteCheck()'>DELETE</button>";
                htmlCode += "<button type='submit' class='btn button_style' onClick='saveCheck(\"" + receipt +
                            "\")'>SAVE</button>";
                htmlCode += "<button type='button' class='btn btn-secondary' data-bs-dismiss='modal'>CLOSE</button>";
                //filling divActionButtons
                divActionButtons.innerHTML = htmlCode;
            };
            request.open("GET", "/checks/" + id);
            request.send();
            modalChecks.show();
        }

        function openCheckAddModal(receipt){
            var htmlCode = "";
            editCheckId.value = null;
            editCheckValue.value = null;
            editCheckDate.value = null;
            editCheckNote.value = null;
            htmlCode += "<h1 class='modal-title fs-5'>Add Check Modal</h1>"
            htmlCode += "<button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>";
            divTitleModal.innerHTML = htmlCode;
            htmlCode = "";
            if (receipt === "income") {
                divTitleType.innerHTML = "<label class='fw-bold'>INCOME</label>";
                for (i = 0; i < incomesList.length; i++) {
                    htmlCode += "<option value =" + incomesList[i]["id"] + ">";
                    htmlCode += incomesList[i]["income"] + "</option>";
                }
                //filling editCheckType
                editCheckType.innerHTML = htmlCode;
            } else if (receipt === "expense") {
                divTitleType.innerHTML = "<label class='fw-bold'>EXPENSE</label>";
                for (i = 0; i < expensesList.length; i++) {
                    htmlCode += "<option value =" + expensesList[i]["id"] + ">";
                    htmlCode += expensesList[i]["expense"] + "</option>";
                }
                //filling editCheckType
                editCheckType.innerHTML = htmlCode;
            }
            htmlCode="";
            htmlCode += "<button type='submit' class='btn button_style' onClick='addCheck(\"" + receipt +
                        "\")'>ADD</button>";
            htmlCode += "<button type='button' class='btn btn-secondary' data-bs-dismiss='modal'>CLOSE</button>";
            //filling divActionButtons
            divActionButtons.innerHTML = htmlCode;
            modalChecks.show();
        }

        function saveCheck(receipt){
            if (editCheckId.value === "" || editCheckValue.value === "" || editCheckDate.value === "") {
                return;
            }
            const request = new XMLHttpRequest();
            request.open("PUT", '/checks', true);
            request.setRequestHeader("Content-Type", "application/json; charset=UTF-8");

            request.onreadystatechange = () => {
                if (request.readyState === XMLHttpRequest.DONE && request.status === 200) {
                    loadAllContent();
                }
            }

            if (receipt === "income") {
                request.send(
                    JSON.stringify(
                        {
                            "id": editCheckId.value,
                            "value": editCheckValue.value,
                            "date": editCheckDate.value,
                            "note": editCheckNote.value,
                            "budget":
                                {
                                    "id": editCheckType.value
                                },
                            "purchase": null
                        }
                    )
                );
            } else if (receipt === "expense") {
                request.send(
                    JSON.stringify(
                        {
                            "id": editCheckId.value,
                            "value": editCheckValue.value,
                            "date": editCheckDate.value,
                            "note": editCheckNote.value,
                            "budget": null,
                            "purchase":
                                {
                                    "id": editCheckType.value
                                }
                        }
                    )
                );
            }
            // alert("editCheckType.value=" + editCheckType.value);
            modalChecks.hide();
        }

        function addCheck(receipt){
            if (editCheckValue.value === "" || editCheckDate.value === "") {
                return;
            }
            const request = new XMLHttpRequest();
            request.open("POST", '/checks', true);
            request.setRequestHeader("Content-Type", "application/json; charset=UTF-8");

            request.onreadystatechange = () => {
                if (request.readyState === XMLHttpRequest.DONE && request.status === 200) {
                    loadAllContent();
                }
            }

            if (receipt === "income") {
                request.send(
                    JSON.stringify(
                        {
                            "value": editCheckValue.value,
                            "date": editCheckDate.value,
                            "note": editCheckNote.value,
                            "budget":
                                {
                                    "id": editCheckType.value
                                },
                            "purchase": null
                        }
                    )
                );
            } else if (receipt === "expense") {
                request.send(
                    JSON.stringify(
                        {
                            "value": editCheckValue.value,
                            "date": editCheckDate.value,
                            "note": editCheckNote.value,
                            "budget": null,
                            "purchase":
                                {
                                    "id": editCheckType.value
                                }
                        }
                    )
                );
            }
            // alert("editCheckType.value=" + editCheckType.value);
            modalChecks.hide();
        }

        function deleteCheck(){
            var conf = confirm("ARE YOU SURE?");
            if (conf) {
                const request = new XMLHttpRequest();
                request.open("DELETE", '/checks/' + editCheckId.value, true);

                request.onreadystatechange = () => {
                    if (request.readyState === XMLHttpRequest.DONE && request.status === 200) {
                        loadAllContent();
                    }
                }
                request.send();
            }
            modalChecks.hide();
        }

    </script>
</div>
</html>