<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:layout ="http://www.ultraq.net.nz/thymeleaf/layout"
            layout:decorate="layout/main.html">

<div layout:fragment="mainContent">
    <div class="d-flex align-items-start">
        <div class="nav flex-column nav-pills me-3 col-2"
             id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <button th:class="${'nav-link' + (param.category_success != null ||
                                 param.category_error != null || param.isEmpty() ? ' active' : '')}"
                    id="v-pills-category-tab"
                    data-bs-toggle="pill" data-bs-target="#v-pills-category" type="button"
                    role="tab" aria-controls="v-pills-category" aria-selected="false">Expense Category
            </button>
            <button th:class="${'nav-link' + (param.expense_success != null ||
                                 param.expense_error != null ? ' active' : '')}"
                    id="v-pills-expense-tab"
                    data-bs-toggle="pill" data-bs-target="#v-pills-expense" type="button"
                    role="tab" aria-controls="v-pills-expense" aria-selected="false">Expense
            </button>
            <button th:class="${'nav-link' + (param.income_success != null ||
                                 param.income_error != null ? ' active' : '')}"
                    id="v-pills-income-tab"
                    data-bs-toggle="pill" data-bs-target="#v-pills-income" type="button"
                    role="tab" aria-controls="v-pills-income" aria-selected="false">Income
            </button>
        </div>
        <div class="tab-content col-10" id="v-pills-tabContent">
            <div th:class="${'tab-pane fade' + (param.category_success != null ||
                              param.category_error != null || param.isEmpty() ? ' show active' : '')}"
                 id="v-pills-category" role="tabpanel" aria-labelledby="v-pills-category-tab" tabindex="0">
                <!-- BEGIN BLOCK: Expense Category -->
                <!-- Button Add Expense Category -->
                <div class="row" sec:authorize="hasAnyRole('ROLE_ADMIN')">
                    <div class="col-12 my-2">
                        <button type="button" class="button_style_add"
                                data-bs-toggle="modal" data-bs-target="#addExpenseCategoryModal"
                                th:text="${'+Add Expense Category'}">
                        </button>
                    </div>
                </div>
                <!-- List of Expense Categories -->
                <div class="row">
                    <div class="col-12 mt-3">
                        <table class="table table-striped">
                            <thead>
                            <tr class="fw-bold">
                                <td th:text="ID"></td>
                                <td th:text="NAME"></td>
                                <td th:text="DESCRIPTION"></td>
                                <td style="text-align: center; width: 10%"
                                    sec:authorize="hasAnyRole('ROLE_ADMIN')"
                                    th:text="DETAILS">
                                </td>
                                <td style="text-align: center; width: 10%"
                                    sec:authorize="hasAnyRole('ROLE_ADMIN')"
                                    th:text="DELETE">
                                </td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="cat : ${allExpenseCategory}">
                                <td th:text="${cat.id}"></td>
                                <td th:text="${cat.name}"></td>
                                <td th:text="${cat.description}"></td>
                                <td style="text-align: center;"
                                    sec:authorize="hasAnyRole('ROLE_ADMIN')">
                                    <button class="btn btn-primary btn-sm" data-bs-toggle="modal"
                                            th:data-bs-target="'#editExpenseCategoryModal' + ${cat.id}"
                                            th:text="DETAILS">
                                    </button>
                                </td>
                                <td style="text-align: center;"
                                    sec:authorize="hasAnyRole('ROLE_ADMIN')">
                                    <button class="btn btn-danger btn-sm" data-bs-toggle="modal"
                                            th:data-bs-target="'#deleteExpenseCategoryModal' + ${cat.id}"
                                            th:text="DELETE">
                                    </button>
                                </td>
                                <!-- Modal Edit Expense Category -->
                                <div class="modal fade" th:id="'editExpenseCategoryModal' + ${cat.id}"
                                     data-bs-backdrop="static" data-bs-keyboard="true"
                                     tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <form th:action="@{'/update-category-expense'}" method="post">
                                                <input type="hidden" name="expense_category_id" th:value="${cat.id}">
                                                <div class="modal-header">
                                                    <h5 class="modal-title"
                                                        th:text="${'EDIT EXPENSE CATEGORY'}">
                                                    </h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row mt-2">
                                                        <div class="col-12">
                                                            <label class="fw-bold" th:text="NAME"
                                                                   for="edit_expense_category_name"></label>
                                                        </div>
                                                    </div>
                                                    <div class="row mt-1">
                                                        <div class="col-12">
                                                            <input type="text" class="form-control"
                                                                   id="edit_expense_category_name"
                                                                   name="expense_category_name" required
                                                                   th:value="${cat.name}">
                                                        </div>
                                                    </div>
                                                    <div class="row mt-2">
                                                        <div class="col-12">
                                                            <label class="fw-bold" th:text="DESCRIPTION"
                                                                   for="edit_expense_category_description"></label>
                                                        </div>
                                                    </div>
                                                    <div class="row mt-1">
                                                        <div class="col-12">
                                                                <input type="text" class="form-control"
                                                                       id="edit_expense_category_description"
                                                                       name="expense_category_description"
                                                                       th:value="${cat.description}">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn button_style"
                                                            th:text="SAVE">
                                                    </button>
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                                            th:text="CLOSE">
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!-- Modal Delete Expense Category -->
                                <div class="modal fade" th:id="'deleteExpenseCategoryModal' + ${cat.id}"
                                     data-bs-backdrop="static" data-bs-keyboard="true"
                                     tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <form th:action="@{'/delete-category-expense'}" method="post">
                                                <input type="hidden" name="expense_category_id" th:value="${cat.id}">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" th:text="${'DELETE EXPENSE CATEGORY'}"></h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <h6 th:text="${'Attention, all expenses in this Category will remain uncategorized!'}"
                                                        th:style="'color: red'"></h6>
                                                    <h6 th:text="${'Do you want to remove the Expense Category?'}"></h6>
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-danger me-auto" th:text="DELETE"></button>
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                                            th:text="CANCEL"></button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Modal Add Expense Category -->
                <div class="modal fade" id="addExpenseCategoryModal"
                     data-bs-backdrop="static" data-bs-keyboard="true"
                     tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form th:action="@{'/add-category-expense'}" method="post">
                                <div class="modal-header">
                                    <h5 class="modal-title"
                                        th:text="${'ADD EXPENSE CATEGORY'}">
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="row mt-2">
                                        <div class="col-12">
                                            <label class="fw-bold" th:text="NAME"
                                                   for="add_expense_category_name"></label>
                                        </div>
                                    </div>
                                    <div class="row mt-1">
                                        <div class="col-12">
                                            <input type="text" class="form-control"
                                                   id="add_expense_category_name"
                                                   name="expense_category_name" required>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-12">
                                            <label class="fw-bold" th:text="DESCRIPTION"
                                                   for="add_expense_category_description"></label>
                                        </div>
                                    </div>
                                    <div class="row mt-1">
                                        <div class="col-12">
                                            <input type="text" class="form-control"
                                                   id="add_expense_category_description"
                                                   name="expense_category_description">
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn button_style"
                                            th:text="ADD">
                                    </button>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                            th:text="CLOSE">
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- BLOCK END: Expense Category -->
            </div>
            <div th:class="${'tab-pane fade' + (param.expense_success != null ||
                              param.expense_error != null ? ' show active' : '')}"
                 id="v-pills-expense" role="tabpanel" aria-labelledby="v-pills-expense-tab" tabindex="0">
                <!-- BEGIN BLOCK: Expense -->
                <!-- Button Add Expense -->
                <div class="row" sec:authorize="hasAnyRole('ROLE_ADMIN')">
                    <div class="col-12 my-2">
                        <button type="button" class="button_style_add"
                                data-bs-toggle="modal" data-bs-target="#addExpenseModal"
                                th:text="${'+Add Expense'}">
                        </button>
                    </div>
                </div>
                <!-- List of Expenses -->
                <div class="row">
                    <div class="col-12 mt-3">
                        <table class="table table-striped">
                            <thead>
                            <tr class="fw-bold">
                                <td th:text="ID"></td>
                                <td th:text="NAME"></td>
                                <td th:text="DESCRIPTION"></td>
                                <td th:text="CATEGORY"></td>
                                <td style="text-align: center; width: 10%"
                                    sec:authorize="hasAnyRole('ROLE_ADMIN')"
                                    th:text="DETAILS">
                                </td>
                                <td style="text-align: center; width: 10%"
                                    sec:authorize="hasAnyRole('ROLE_ADMIN')"
                                    th:text="DELETE">
                                </td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="exp : ${allExpense}">
                                <td th:text="${exp.id}"></td>
                                <td th:text="${exp.expense}"></td>
                                <td th:text="${exp.description}"></td>
                                <td th:if="${exp.category != null}" th:text="${exp.category.name}"></td>
                                <td th:if="${exp.category == null}" th:text="${'No Category'}" th:style="'color: red'"></td>
                                <td style="text-align: center;"
                                    sec:authorize="hasAnyRole('ROLE_ADMIN')">
                                    <button class="btn btn-primary btn-sm" data-bs-toggle="modal"
                                            th:data-bs-target="'#editExpenseModal' + ${exp.id}"
                                            th:text="DETAILS">
                                    </button>
                                </td>
                                <td style="text-align: center;"
                                    sec:authorize="hasAnyRole('ROLE_ADMIN')">
                                    <button class="btn btn-danger btn-sm" data-bs-toggle="modal"
                                            th:data-bs-target="'#deleteExpenseModal' + ${exp.id}"
                                            th:text="DELETE">
                                    </button>
                                </td>
                                <!-- Modal Edit Expense -->
                                <div class="modal fade" th:id="'editExpenseModal' + ${exp.id}"
                                     data-bs-backdrop="static" data-bs-keyboard="true"
                                     tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <form th:action="@{'/update-expense'}" method="post">
                                                <input type="hidden" name="expense_id" th:value="${exp.id}">
                                                <div class="modal-header">
                                                    <h5 class="modal-title"
                                                        th:text="${'EDIT EXPENSE'}">
                                                    </h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row mt-2">
                                                        <div class="col-12">
                                                            <label class="fw-bold" th:text="NAME"
                                                                   for="edit_expense_name"></label>
                                                        </div>
                                                    </div>
                                                    <div class="row mt-1">
                                                        <div class="col-12">
                                                            <input type="text" class="form-control"
                                                                   id="edit_expense_name"
                                                                   name="expense_name" required
                                                                   th:value="${exp.expense}">
                                                        </div>
                                                    </div>
                                                    <div class="row mt-2">
                                                        <div class="col-12">
                                                            <label class="fw-bold" th:text="DESCRIPTION"
                                                                   for="edit_expense_description"></label>
                                                        </div>
                                                    </div>
                                                    <div class="row mt-1">
                                                        <div class="col-12">
                                                            <input type="text" class="form-control"
                                                                   id="edit_expense_description"
                                                                   name="expense_description"
                                                                   th:value="${exp.description}">
                                                        </div>
                                                    </div>
                                                    <div class="row mt-2">
                                                        <div class="col-12">
                                                            <label class="fw-bold" th:text="GATEGORY"
                                                                   for="edit_expense_category"></label>
                                                        </div>
                                                    </div>
                                                    <div class="row mt-1">
                                                        <div class="col-12">
                                                            <select class="form-select"
                                                                    id="edit_expense_category"
                                                                    name="expense_category_id" required>
                                                                <option th:each="cat : ${allExpenseCategory}"
                                                                        th:text="${cat.name}"
                                                                        th:value="${cat.id}"
                                                                        th:selected="${exp.category != null &&
                                                                                     exp.category.id == cat.id}">
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn button_style"
                                                            th:text="SAVE">
                                                    </button>
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                                            th:text="CLOSE">
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!-- Modal Delete Expense -->
                                <div class="modal fade" th:id="'deleteExpenseModal' + ${exp.id}"
                                     data-bs-backdrop="static" data-bs-keyboard="true"
                                     tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <form th:action="@{'/delete-expense'}" method="post">
                                                <input type="hidden" name="expense_id" th:value="${exp.id}">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" th:text="${'DELETE EXPENSE'}"></h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <h6 th:text="${'Attention, all checks of this type of Expense will be deleted!'}"
                                                        th:style="'color: red'"></h6>
                                                    <h6 th:text="${'Do you want to remove the Expense?'}"></h6>
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-danger me-auto" th:text="DELETE"></button>
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                                            th:text="CANCEL"></button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Modal Add Expense -->
                <div class="modal fade" id="addExpenseModal"
                     data-bs-backdrop="static" data-bs-keyboard="true"
                     tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form th:action="@{'/add-expense'}" method="post">
                                <div class="modal-header">
                                    <h5 class="modal-title"
                                        th:text="${'ADD EXPENSE'}">
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="row mt-2">
                                        <div class="col-12">
                                            <label class="fw-bold" th:text="NAME"
                                                   for="add_expense_name"></label>
                                        </div>
                                    </div>
                                    <div class="row mt-1">
                                        <div class="col-12">
                                            <input type="text" class="form-control"
                                                   id="add_expense_name"
                                                   name="expense_name" required>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-12">
                                            <label class="fw-bold" th:text="DESCRIPTION"
                                                   for="add_expense_description"></label>
                                        </div>
                                    </div>
                                    <div class="row mt-1">
                                        <div class="col-12">
                                            <input type="text" class="form-control"
                                                   id="add_expense_description"
                                                   name="expense_description">
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-12">
                                            <label class="fw-bold" th:text="GATEGORY"
                                                   for="add_expense_category"></label>
                                        </div>
                                    </div>
                                    <div class="row mt-1">
                                        <div class="col-12">
                                            <select class="form-select"
                                                    id="add_expense_category"
                                                    name="expense_category_id" required>
                                                <option th:each="cat : ${allExpenseCategory}"
                                                        th:text="${cat.name}"
                                                        th:value="${cat.id}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn button_style"
                                            th:text="ADD">
                                    </button>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                            th:text="CLOSE">
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- BLOCK END: Expense -->
            </div>
            <div th:class="${'tab-pane fade' + (param.income_success != null ||
                              param.income_error != null ? ' show active' : '')}"
                 id="v-pills-income" role="tabpanel" aria-labelledby="v-pills-income-tab" tabindex="0">
                <!-- BEGIN BLOCK: Income -->
                <!-- Button Add Income -->
                <div class="row" sec:authorize="hasAnyRole('ROLE_ADMIN')">
                    <div class="col-12 my-2">
                        <button type="button" class="button_style_add"
                                data-bs-toggle="modal" data-bs-target="#addIncomeModal"
                                th:text="${'+Add Income'}">
                        </button>
                    </div>
                </div>
                <!-- List of Incomes -->
                <div class="row">
                    <div class="col-12 mt-3">
                        <table class="table table-striped">
                            <thead>
                            <tr class="fw-bold">
                                <td th:text="ID"></td>
                                <td th:text="NAME"></td>
                                <td th:text="DESCRIPTION"></td>
                                <td style="text-align: center; width: 10%"
                                    sec:authorize="hasAnyRole('ROLE_ADMIN')"
                                    th:text="DETAILS">
                                </td>
                                <td style="text-align: center; width: 10%"
                                    sec:authorize="hasAnyRole('ROLE_ADMIN')"
                                    th:text="DELETE">
                                </td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="inc : ${allIncome}">
                                <td th:text="${inc.id}"></td>
                                <td th:text="${inc.income}"></td>
                                <td th:text="${inc.description}"></td>
                                <td style="text-align: center;"
                                    sec:authorize="hasAnyRole('ROLE_ADMIN')">
                                    <button class="btn btn-primary btn-sm" data-bs-toggle="modal"
                                            th:data-bs-target="'#editIncomeModal' + ${inc.id}"
                                            th:text="DETAILS">
                                    </button>
                                </td>
                                <td style="text-align: center;"
                                    sec:authorize="hasAnyRole('ROLE_ADMIN')">
                                    <button class="btn btn-danger btn-sm" data-bs-toggle="modal"
                                            th:data-bs-target="'#deleteIncomeModal' + ${inc.id}"
                                            th:text="DELETE">
                                    </button>
                                </td>
                                <!-- Modal Edit Income -->
                                <div class="modal fade" th:id="'editIncomeModal' + ${inc.id}"
                                     data-bs-backdrop="static" data-bs-keyboard="true"
                                     tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <form th:action="@{'/update-income'}" method="post">
                                                <input type="hidden" name="income_id" th:value="${inc.id}">
                                                <div class="modal-header">
                                                    <h5 class="modal-title"
                                                        th:text="${'EDIT INCOME'}">
                                                    </h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row mt-2">
                                                        <div class="col-12">
                                                            <label class="fw-bold" th:text="NAME"
                                                                   for="edit_income_name"></label>
                                                        </div>
                                                    </div>
                                                    <div class="row mt-1">
                                                        <div class="col-12">
                                                            <input type="text" class="form-control"
                                                                   id="edit_income_name"
                                                                   name="income_name" required
                                                                   th:value="${inc.income}">
                                                        </div>
                                                    </div>
                                                    <div class="row mt-2">
                                                        <div class="col-12">
                                                            <label class="fw-bold" th:text="DESCRIPTION"
                                                                   for="edit_income_description"></label>
                                                        </div>
                                                    </div>
                                                    <div class="row mt-1">
                                                        <div class="col-12">
                                                            <input type="text" class="form-control"
                                                                   id="edit_income_description"
                                                                   name="income_description"
                                                                   th:value="${inc.description}">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn button_style"
                                                            th:text="SAVE">
                                                    </button>
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                                            th:text="CLOSE">
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!-- Modal Delete Income -->
                                <div class="modal fade" th:id="'deleteIncomeModal' + ${inc.id}"
                                     data-bs-backdrop="static" data-bs-keyboard="true"
                                     tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <form th:action="@{'/delete-income'}" method="post">
                                                <input type="hidden" name="income_id" th:value="${inc.id}">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" th:text="${'DELETE INCOME'}"></h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <h6 th:text="${'Attention, all checks of this type of Income will be deleted!'}"
                                                        th:style="'color: red'"></h6>
                                                    <h6 th:text="${'Do you want to remove the Income?'}"></h6>
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-danger me-auto" th:text="DELETE"></button>
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                                            th:text="CANCEL"></button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Modal Add Income -->
                <div class="modal fade" id="addIncomeModal"
                     data-bs-backdrop="static" data-bs-keyboard="true"
                     tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form th:action="@{'/add-income'}" method="post">
                                <div class="modal-header">
                                    <h5 class="modal-title"
                                        th:text="${'ADD EXPENSE INCOME'}">
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="row mt-2">
                                        <div class="col-12">
                                            <label class="fw-bold" th:text="NAME"
                                                   for="add_income_name"></label>
                                        </div>
                                    </div>
                                    <div class="row mt-1">
                                        <div class="col-12">
                                            <input type="text" class="form-control"
                                                   id="add_income_name"
                                                   name="income_name" required>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-12">
                                            <label class="fw-bold" th:text="DESCRIPTION"
                                                   for="add_income_description"></label>
                                        </div>
                                    </div>
                                    <div class="row mt-1">
                                        <div class="col-12">
                                            <input type="text" class="form-control"
                                                   id="add_income_description"
                                                   name="income_description">
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn button_style"
                                            th:text="ADD">
                                    </button>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                            th:text="CLOSE">
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- BLOCK END: Income -->
            </div>
        </div>
    </div>
</div>
</html>